<!DOCTYPE html>
{% extends "homepage/homepage_base.html" %}
<html lang="en">
{% block head %}
<meta charset="UTF-8">
<title>Benvenuto</title>
{% endblock %}
{% block body %}
<header><h1>Ricerca Film</h1></header>
<section>
    <form method="post">
        {% csrf_token %}

        {{ form.text }}
        <input type="submit" name='ricerca' value="Ricerca">
        <p></p>
        {{ form.genres }}
        <input type="submit" name='ricerca-genre' value="Scegli tipologia di film">
    </form>
</section>

<section>
    <p>
        <a href="{% url 'film:index-film' %}">Lista Film</a>
        <a href="{% url 'film:show-film-ranking' %}">Film più votati</a>
    </p>
    <p></p>
    <a href="{% url 'person:index-director' %}">Lista Registi</a>
    <p></p>
    <a href="{% url 'person:index-actor' %}">Lista Attori</a>
</section>
<section>
    <p></p>
    {% if user.is_authenticated %}
    <p> Benvenuto {{ user.username }} <a href="{% url 'account:view-detail-account' user.pk %}">Visualizza il tuo
        profilo</a>
    </p>
    <a href="{% url 'account:logout-account' %}">Logout</a>
    {% else %}
    <a href="{% url 'account:login-account' %}">Accedi o Registrati</a>
    {% endif %}
</section>
<div>
    <a href="contacts/">Contact Us</a>
</div>
{% endblock %}
</html>