<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.full_name }}</title>
</head>
<body>
<section>
    <p>Nome : {{ object.first_name }}</p>
    <p>Cognome: {{ object.second_name }}</p>
</section>
<section>
    <p>Genere: {{ object.gender }}</p>
    <p>Data di nascita: {{ object.birth_date }}</p>
    {% if object.death_date %}
    <p>Data di morte: {{ object.death_date }}</p>
    {% endif %}
    <p>Biografia: {{ object.biography }}</p>
    <p>Luogo di nascita: {{object.place_of_birth }}</p>
    <p>Nazionalità: {{ object.nationality }}</p>
    {% if object.imdb_id %}
    <p><a href="https://www.imdb.com/name/{{ object.imdb_id}}">Link IMDb</a></p>
    {% endif %}
</section>

{% if object.type == 'director' %}
<section>
    <p>Lista film girati</p>
    {% for film in object.Directors.all %}
    <p><a href="{% url 'movie:detail-movie' film.id %}">{{ film }}</a></p>
    {% endfor %}
</section>
{% else %}
<section>
    <p>Lista film interpretati</p>
    {% for film in object.Cast.all %}
    <p><a href="{% url 'movie:detail-movie' film.id %}">{{ film }}</a></p>
    {% endfor %}
</section>
{% endif %}

</body>
</html>