<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dettagli del tuo profilo</title>
</head>
<body>
<section>
    <h2>Il tuo profilo</h2>
    <p>Nome: {{ user.first_name }} - Cognome: {{ user.last_name }}</p>
    <p>Email: {{user.email }}</p>
    <p>Membro dal: {{ user.date_joined }}</p>
</section>
<dir>
    <p>I tuoi film preferiti:</p>
    {% if not user.favorites.all %}
    <p>Non hai film.</p>
    {% else %}
    <ul>
        {% for film in user.favorites.all %}
        <li>{{ film }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</dir>
</body>
</html>