<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accedi</title>
</head>

<header>
    <h2>Login Page</h2>
</header>
<body>
<section>
    {% if invalid %}
    Username o password errate
    {% endif %}
    <form method="post">
        {% csrf_token %}

        {{ form.first_name }} {{form.password }}
        <input type="submit" value="Accedi">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p>
        <a href="{% url 'account:register-account' %}">Registrati</a>
    </p>

</section>

</body>
</html>