<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accedi</title>
</head>

<header>
    <h2>Login Page</h2>
</header>
<body>
<section>
    {% if form.error %}
    <p>Username o password errate. Riprovare</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Accedi">
        <input type="hidden" name = "next" value="{{ next }}">
    </form>
    <p>
        <a href="{% url 'account:registerAccount' %}">Registrati</a>
    </p>

</section>

</body>
</html>