<!DOCTYPE html>
<p lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dettagli Film</title>
    </head>

<p> Name: {{ object.title}}</p>
<p> Director:
    {% for director in object.directors.all %}
    <a href="{% url 'person:detail-person' director.id_person %}">{{ director }}</a>
    {% endfor %}
</p>
<p>Cast
    {% for character in object.cast_set.all %}
<ul>
    <li>
        <a href="{% url 'person:detail-person' character.person.id_person %}">{{ character.person }}</a>
        {% if character %}
        {{ character }}
        {% endif %}
    </li>
</ul>
{% endfor %}
</p>
<p>Writers:
    {% for writer in object.writers.all %}
<p><a href="{% url 'person:detail-person' writer.id_person %}">{{ writer }}</a></p>
{% endfor %}
<section>
    </p>
    <p>Ranking: {{ object.vote_average }}</p>
    <p>Description: {{ object.description }}</p>
    <p>Release Date: {{ object.release_date }}</p>
    <p>
        {% for genre in object.genres.all %}
        {{ genre }}
        {% endfor %}
    </p>
    <section>
        Vota:
        <form action="{% url 'movie:vote-movie' object.id %}" method="post">
            {% csrf_token %}
            <select name="vote" id="vote">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            {% if value.value_vote %}
            <input type="submit" value='Hai votato' disabled>
            {% else %}
            <input type="submit" value="Vota"/>
            {% endif%}
        </form>
    </section>
    <p><a href="https://www.imdb.com/title/{{object.imdb_id}}">Link IMDb</a></p>
</section>
<section>
    <form method="post">
        {% csrf_token %}
        {% if value.is_preferred %}
        <input type="submit" name='remove_to_preferite' value="Rimuovi dai preferiti">
        {% else %}
        <input type="submit" name='add_to_preferite' value="Aggiungi ai preferiti">
        {% endif %}
    </form>
    <a href="/">Ritorna alla home</a>
</section>
</body>
</html>